/*#region Scroller */

.iscroll-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    -ms-touch-action: none;
    touch-action: none;
}

    .iscroll-wrap ul {
        margin: 0;
        height: 100%;
        white-space: nowrap;
        overflow: hidden;
    }

    .iscroll-wrap li {
        display: block;
        float: left;
        width: 15em;
        height: 100%;
        border-left: 1px solid #d8d8d8;
        position: relative;
        white-space: normal;
    }

        .iscroll-wrap li:last-child {
            border-right: 1px solid #d8d8d8;
        }

/*#endregion*/

.control-panel {
    width: 100%;
    height: 13em;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #d8d8d8;
}

.switchers-group {
    position: absolute;
    bottom: 13em;
    margin-bottom: 15px;
    margin-left: 20px;
}

.switchers-group > button {
    margin: 0;
    border: 1px solid #0e93dd;
    color: #0e93dd;
    font-size: 15px;
    background: #fff;
    padding: 5px 10px;
}

.cmButton {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.inButton {
    border-right: 0px !important;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.switchers-group > button[data-active=true] {
    background: #0e93dd !important;
    color: white !important;
}