.item-box {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.item-box__title {
    font-size: 1.2em;
}

.item-box__content {
    width: 100%;
    height: 100%;
}

.item-box__content__title {
    height: 3em;
    overflow: hidden;
    line-height: 1.5em;
    margin: 1em 1em 0em 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-box__content__thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9em;
}

.item-box__content__thumb.item-box__content__thumb--human {
    height: 13em;
}

.item-box__content-overlay {
	display: none;
    position: absolute;
    left: 0;
    bottom: -13em;
    width: 100%;
    height: 100%;
    border-top: 6px solid #0e93dd;
    align-items: center;
    text-align: center;
    animation-name: slide;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    background-color: rgba(255, 255, 255, 0.9);
}

.item-box--active .item-box__content-overlay {
    display: flex;
}

.content-overlay__title {
    width: 100%;
    text-align: center;
}

@keyframes slide {
    from {
        bottom: -13em;
    }
    to {
        bottom: 0em;
    }
}